@import "../../../styles/variables/colors.scss";

.course {
    padding: 20px;
    border: 1px solid #000;
    margin: 10px 0;

    &.highlighted {
        background-color: azure;
    }

    .info {
        float: left;
        margin: 5px 0;
    }

    .course-buttons {
        button {
            width: 100%;
            margin: 5px 0;
            cursor: pointer;
        }
    }
}
